<div class="container" style="background-image: url('assets/images/background.PNG'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;">
    <div class="section">
        <div class="header">
            <h1>Welcome to service Booking System!</h1>
            <p>Choose your userType get started:</p>
        </div>
        <div class="buttons">
            <button nz-button nzType="primary" routerLink="/register_client">Register as Client</button>
            <button nz-button nzType="primary" routerLink="/register_company">Register as Company</button>
        </div>
    </div>
</div>